/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* TYPOGRAPHY */
  --text-heading-1: clamp(2.5rem, 8vw, 5rem); /* 80px */
  --text-heading-2: clamp(2.6rem, 4vw, 3rem); /* 48px */
  --text-heading-3: clamp(1.8rem, 4vw, 2rem); /* 32px */
  --text-heading-4: 1.75rem; /* 28px */

  --text-subheading-1: clamp(1.5rem, 4vw, 2.25rem); /* 36px */
  --text-subheading-2: clamp(1rem, 4vw, 1.5rem); /* 24px */

  --text-body-1: 1.25rem; /* 20px */
  --text-body-2: 1rem; /* 16px */

  --text-sustainability: 4rem; /* 64px */

  --text-button: 1.5rem; /* 24px */

  --text-600: 600; /* Semi-Bold */
  --text-400: 400; /* Regular */

  --text-height-large: 2rem; /* 32px */
  --text-spacing: 0.0625rem; /* 1px */

  /* COLORS */
  --color-white: #fff;
  --color-grey: #dbdbdb;
  --color-black: #000;

  --color-primary: #009966;
  --color-secondary: #88dc84;
  --color-accent: #9810fa;

  --color-primary-hightlight: #05ae76;

  --bg-light: #d4fff3;
  --bg-dark: #101828;
  --bg-gradient: linear-gradient(to right, #009966, #009688);

  /* VISUAL EFFECTS */
  --card-shadow: 0px 10px 10px 0px #00000040;

  /* SPACINGS */
  --container-max: 1240px;

  --space-large: 2rem; /* 32px */
  --space-medium: 1rem; /* 16px */
  --space-small: 0.75rem; /* 12px */

  /* BORDER RADIUS */
  --radius-circle: 50%;
  --radius-xl: 1.5625rem; /* 25px */
  --radius-large: 1.5rem; /* 24px */
  --radius-medium: 0.9375rem; /* 15px */
  --radius-small: 0.625rem; /* 10px */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
select,
button {
  font-family: Inter, sans-serif, "Times New Roman", Times, serif;
}

button {
  cursor: pointer;
}

h1 {
  font-size: var(--text-heading-1);
}

h2 {
  font-size: var(--text-heading-2);
}

h3 {
  font-size: var(--text-heading-3);
}

h4 {
  font-size: var(--text-heading-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--text-400);
  line-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.active-link {
  color: var(--color-primary);
}

.no-scroll {
  overflow: hidden;
  height: 100dvh;
}

.container {
  width: 100%;
  max-width: var(--container-max);
  margin: 0 auto;
}

.btn {
  padding: var(--space-medium) var(--space-small);
  border-radius: var(--radius-small);
  font-size: var(--text-button);
  font-weight: var(--text-600);
  border: 3px solid transparent;
  text-align: center;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 209px;
}

.btn-primary:hover {
  background-color: var(--color-primary-hightlight);
}

.btn-outline {
  border-color: var(--color-white);
  width: 191px;
}

.hidden {
  display: none;
}

main {
  margin-top: 147.583px;
}

/* HEADER SECTION */
.site-header {
  position: fixed;
  height: auto;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 99;

  background-color: #ffffffe7;
  backdrop-filter: blur(20px);

  box-shadow: 0px 1px 10px 1px hsla(0, 0%, 0%, 0.25);

  .site-header-content {
    justify-content: space-between;
    align-items: center;

    font-size: var(--text-button);
    font-weight: var(--text-600);
    padding: var(--space-large) var(--space-medium);
  }

  .site-header-brand {
    width: 322px;
  }
}

.desktop-nav {
  justify-content: space-between;
  align-items: center;

  .desktop-nav-list {
    list-style: none;
  }

  .nav-link {
    padding: var(--space-medium) var(--space-large);
  }

  .nav-link > a:hover {
    color: var(--color-primary);
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .site-header {
    background-color: var(--color-white);
  }

  .desktop-nav {
    display: none;
    position: absolute;
    opacity: 0;
  }

  .desktop-nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 147.578px;
    left: 0;
    width: 100%;
    height: calc(100dvh - 147.59px);
    padding: var(--space-large);
    background-color: #ffffff;
    opacity: 1;
    text-align: center;

    .desktop-nav-list {
      flex-direction: column;
      margin-bottom: var(--space-large);
    }

    .btn-primary {
      display: block;
      width: 100%;
    }
  }

  .hamburger {
    display: flex;
  }

  .hamburger span {
    width: 30px;
    height: 3px;
    background-color: var(--color-black);
  }
}

/* LANDING PAGE */
.hero-section {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/assets/photos/unsplash/beach.jpg);
  background-size: cover;
  background-position: center;
  padding-block: 13rem;
}

.hero-content {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-large);

  text-align: center;
  color: var(--color-white);
}

.hero-subheading {
  font-size: var(--text-subheading-1);
  font-weight: var(--text-400);
}

.hero-buttons {
  justify-content: center;
  align-items: center;
  gap: var(--space-medium);
  font-size: var(--text-button);
}

.availability-section {
  background: var(--bg-gradient);
  padding-block: 4rem;
  color: var(--color-black);
}

.availability-form {
  justify-content: center;
  align-items: center;
  gap: var(--space-large);
  height: 65px;
  padding-inline: var(--space-large);
  margin: 0 auto;
}

.availability-field {
  display: inline-flex;
  align-items: center;
  padding: var(--space-small);
  height: 100%;
  justify-content: center;
  flex: 0.25;

  border: 1px solid;
  background-color: var(--color-white);
  border-color: var(--color-black);
  white-space: nowrap;
  border-radius: var(--radius-medium);
}

.availability-icon {
  margin-right: auto;
  display: inline-flex;
}

.availability-label {
  margin-right: auto;
}

.availability-submit {
  width: 253px;
  background-color: var(--color-black);
  color: var(--color-white);
  outline: none;
  border: 1px solid transparent;
}

@media screen and (max-width: 940px) {
  .availability-section {
    /* padding-block: 12rem; */
    
  }

  .availability-form {
    flex-direction: column;
    padding-block: 12rem;
  }

  .availability-field,
  .availability-submit {
    padding: var(--space-large);
    width: 100%;
  }

}

.sustainability-section {
  background-color: var(--bg-light);
}

.vision-content,
.sustainability-content {
  flex-direction: column;
  gap: calc(1.4 * var(--space-large));
}

.vision-section,
.sustainability-section,
.experience-section,
.bottom-section {
  padding-block: 6rem;
  padding-inline: var(--space-small);
  text-align: center;
}

bottom-heading {}

.vision-header,
.sustainability-header {
  flex-direction: column;
  justify-content: center;
  gap: calc(1.4 * var(--space-large));
}

.vision-heading,
.sustainability-heading {
  letter-spacing: var(--text-spacing);
  font-size: var(--text-heading-2);
}

.vision-subheading,
.sustainability-subheading {
  font-size: var(--text-subheading-2);
  font-weight: var(--text-400);
}

.vision-subheading {
  font-family: montserrat, inter, sans-serif;
}

.vision-cards,
.sustainability-cards {
  /* padding-inline: var(--space-small); */
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-small);
  padding: 0;
}

.card {
  background-color: var(--color-white);
  flex-direction: column;
  border: 1px solid #686868;
  border-radius: var(--radius-large);
  padding: var(--space-medium) 1.4rem;
  gap: var(--space-large);
}

.vision-cards > .card {
  text-align: left;
}

.vision-card-header,
.sustainability-card-header {
  flex-direction: column;
  gap: 3rem;
}

.card-icon {
  height: 64px;
  width: 64px;
  background-color: var(--color-secondary);
  border-radius: var(--radius-circle);
  justify-content: center;
  align-items: center;
}

.sustainability-card-header > .card-icon {
  margin: 0 auto;
}

.sustainability-percentage {
  color: var(--color-primary);
  font-size: var(--text-heading-3);
}

.card-icon > svg {
  color: #188734;
}

.vision-card-desc,
.sustainability-card-desc {
  font-size: var(--text-body-1);
  line-height: 24px;
  margin-bottom: calc(1.4 * var(--space-large));
  opacity: 0.75;
}

.experience-content {
  grid-template-columns: 1fr 1fr;
  gap: var(--space-large);
}

.experience-text {
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-size: var(--text-body-1);
  letter-spacing: 1px;
}

.experience-text p {
  line-height: 32px;
}

.experience-img img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-large);
}

.experience-btn {
  width: fit-content;
  padding: var(--space-medium);
}

.bottom-section {
  background: var(--bg-gradient);
}

.bottom-content {
  flex-direction: column;
  color: var(--color-white);
  gap: var(--space-medium);
}

.bottom-subheading {
  font-size: var(--text-heading-3);
  font-weight: var(--text-400);
  margin-top: var(--space-medium);
}

.btn-bottom {
  background-color: #cbcbcb;
  margin: 0 auto;
  color: var(--color-primary);
  font-size: var(--text-button);
  padding-inline: var(--space-large);
  margin-top: var(--space-medium);
}

/* BOOKING PAGE */
.booking-header {
  flex-direction: column;
  text-align: center;
  gap: var(--space-small);

  h1 {
    margin-top: var(--space-large);
  }
}

.booking-page-main {
  background-color: var(--bg-light);
  min-height: 100vh;
}

.booking-form-section {
  margin-top: var(--space-large);
  justify-content: center;
}

.booking-form {
  padding: var(--space-large);
  background-color: var(--color-white);
  border-radius: var(--radius-large);
  box-shadow: var(--card-shadow);
  gap: var(--space-large);
  align-items: flex-end;
}

.booking-field {
  flex-direction: column;
  gap: var(--space-small);

  label {
    font-size: var(--text-body-1);
    font-weight: var(--text-600);
  }
}

.booking-section {
  padding: var(--space-section);
}

.booking-control {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small);
  border: 1px solid;
  border-radius: var(--radius-small);
  height: 65px;
  width: 189px;

  input,
  select {
    width: 100%;
    border: none;
    font-weight: var(--text-600);
    font-size: var(--text-body-2);
  }

  /* hide default date picker icon */
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.booking-submit {
  height: 65px;
  width: 189px;
}

.booking-icon {
  margin-right: auto;
  display: inline-flex;
}

.booking-results-section {
  margin-top: calc(2 * var(--space-large));
  flex-direction: column;
  display: none;
}

.booking-rooms-container {
  flex-direction: column;
  gap: var(--space-large);
  margin-top: var(--space-large);
}

.booking-room-card {
  background-color: var(--color-white);
  border-radius: var(--radius-large);
  box-shadow: var(--card-shadow);
  overflow: hidden;
  display: flex;
  gap: 0;
  flex-direction: row;
}

.booking-room-card:nth-child(even) {
  flex-direction: row-reverse;
}

.booking-room-img {
  position: relative;

  img {
    width: 507px;
    height: 440px;
    object-fit: cover;
  }
}

.booking-room-rating {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--color-white);
  border-radius: var(--radius-xl);
  width: 88px;
  height: 44px;
  align-items: center;
  justify-content: center;
  font-weight: var(--text-400);
  font-size: var(--text-body-1);

  svg {
    margin-right: 0.5rem;
    stroke: #ffcc00;
    width: 20px;
    height: 20px;
  }
}

.booking-room-info {
  padding-top: var(--space-large);
  padding-bottom: var(--space-large);
  padding-left: var(--space-medium);
  padding-right: var(--space-large);
  flex-direction: column;
  flex-grow: 1;
}

.booking-room-info-header {
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  .booking-room-info-price {
    display: flex;
    flex-direction: column;
    gap: calc(var(--space-small) / 2);

    h4 {
      color: var(--color-primary);
    }
  }
}

.booking-room-info-items {
  gap: var(--space-small);
  align-items: center;
  transform: translateY(-50%);

  .booking-room-info-item {
    gap: calc(var(--space-small) / 2);
    align-items: center;
    font-weight: var(--text-400);
    font-size: var(--text-body-2);
  }
}

.booking-room-info-iconlabel {
  margin-top: var(--space-medium);
  margin-bottom: calc(var(--space-small) / 2);
  gap: calc(var(--space-small) / 2);
  align-items: center;
}

.booking-room-info-features {
  gap: calc(var(--space-small));
  flex-wrap: wrap;

  .booking-room-info-feature {
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 6px 12px;
  }
}

.booking-room-info-ai-features {
  .booking-room-info-feature {
    color: var(--color-accent);
  }
}

.booking-room-info-ai-icon {
  svg {
    stroke: var(--color-accent);
  }
}

.booking-room-info-sustainability-icon {
  svg {
    stroke: var(--color-primary);
  }
}

.booking-room-reserve-btn {
  width: 100%;
  margin-top: auto;
}

@media screen and (max-width: 1000px) {
  .booking-form {
    flex-direction: column;
    align-items: stretch;
  }

  .booking-room-card {
    flex-direction: column;
  }
}

/* ABOUT PAGE */

.about-section {
  background-image: url("../assets/assets/photos/unsplash/building.jpg");
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/assets/photos/unsplash/building.jpg");
  background-position: 50% 50%;
  background-size: cover;
  padding-block: var(--space-section);

  height: 80vh;
  max-height: 602px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--color-white);
}

.about-heading {
  text-align: center;
  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.about-subheading {
  text-align: center;
  font-size: var(--text-subheading-1);
  font-weight: 400;

  margin-left: 2rem;
  margin-right: 2rem;
}

.story,
.story-text,
.p1,
.p2,
.p3 {
  text-align: center;
  color: var(--color-black);
}

.story,
.story-text p {
  margin-left: 2rem;
  margin-right: 2rem;
}

.story {
  margin-top: 4rem;
  font-size: 48px;
}

.story-text {
  max-width: 1240px;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.story-text p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  letter-spacing: 1.5px;
  line-height: 32px;
  font-size: 24px;
}

.amenities {
  background-color: var(--bg-light);

  flex-direction: column;
  align-items: center;
}

.amenities-buttons {
  max-width: 714px;
  max-height: 79px;
  background-color: #ececf0;
  border-radius: 999px;
  padding: 0.3rem 0.5rem;
  margin: 4rem 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.amenities-buttons button {
  width: 230px;
  height: 59px;
  margin: 0 0.2rem;
  background-color: #ececf0;
  border: none;
  border-radius: 999px;

  font-weight: 600;
  font-size: 24px;
}

.amenities-buttons .b3 {
  background-color: var(--color-white);
}

.amenities-article {
  margin-bottom: 4rem;
  text-align: center;
}

.amenities-article h4 {
  font-size: 36px;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.amenities-article p {
  font-size: 24px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.amenities-container {
  max-width: 1240px;
  padding-bottom: 8rem;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.amenities-container article {
  max-height: 435px;
  max-width: 400px;
  margin: 1rem;

  background-color: var(--color-white);
  border: 1px solid #000;
  border-radius: 12px;
}

.amenities-container article img {
  max-height: 435px;
  max-width: 400px;
  height: 55%;
  width: 100%;
  object-fit: cover;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.amenities-container article h2 {
  font-size: 24px;
  margin: 0.75rem;
  padding-top: 2rem;
}

.amenities-container article p {
  font-size: 21px;
  margin: 0.75rem;
  padding-top: 1rem;
}

.stats {
  background: var(--bg-gradient);
  text-align: center;
  color: var(--color-white);

  flex-direction: row;
  justify-content: center;
}

.stats-text {
  margin-top: 6rem;

  h2 {
    margin-bottom: 2rem;
    font-size: var(--text-heading-2);
  }

  p {
    font-size: 32px;
  }
}

.statistics {
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: 2rem;
  margin-right: 2rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.contact {
  height: 937px;
}

.contact-flex {
  flex-direction: column;
  gap: 3rem;
}

.contact-text {
  margin-top: 4rem;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--text-heading-3);
  }
}

.contact-box {
  margin-top: 3rem;
  border: 1px solid black;
  border-radius: var(--radius-large);
  max-height: 602px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  padding: 4rem;

  p {
    font-weight: bold;
  }
}

.box-message {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
}

.contact-box article {
  gap: 3rem;
}

.input-standard {
  width: 550px;
  padding: 16px;
}

.input-standard,
.message {
  font-size: var(--text-body-1);
  border-radius: 0.3125rem;
  background-color: #f9fafb;
  border: 1px solid black;
}

.message {
  width: 100%;
  height: 150px;
  padding: 1rem;
  resize: none;

  text-align: left;
  vertical-align: top;
  line-height: 1.4;
}

.contact-box button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--radius-small);
  font-size: var(--text-button);

  grid-column: 1 / 3;
}

.btn-send {
  height: 64px;
}

.submit-message {
  grid-row: 1 / 6;
  grid-column: 1 / -1;
  text-align: center;
}

/* ------------- */
/* Media Querys */
/* ------------- */

/* Landing Page */

@media screen and (max-width: 1200px) {
  .vision-section,
  .sustainability-section,
  .experience-section,
  .bottom-section {
    padding-inline: var(--space-medium);
  }

  .vision-cards,
  .sustainability-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card br {
    display: none;
  }

  .experience-section {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
      url("../assets/assets/photos/unsplash/bedroom.jpg");
    background-size: cover;
    background-position: center;
  }

  .experience-content {
    grid-template-columns: 1fr;
  }

  .experience-text {
    text-align: center;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    gap: var(--space-large);

    color: var(--color-white);
  }

  .experience-btn {
    margin-right: auto;
    margin-left: auto;
  }

  .experience-img {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  .vision-cards,
  .sustainability-cards {
    grid-template-columns: 1fr;
  }
}

/* About Page Media */

@media screen and (max-width: 630px) {
  .about-section {
    max-height: 400px;

    .about-heading {
      font-size: 2rem;
    }

    .about-subheading {
      font-size: 1rem;
    }
  }

  /* --------------------- */

  .story {
    font-size: 2rem;
  }

  .story-text p {
    font-size: 1rem;
  }

  /* --------------------- */

  .amenities-buttons {
    flex-direction: column;

    max-width: 250px;
    width: 50vh;
    max-height: 500px;
    border-radius: 40px;
    font-size: 2rem;
  }

  .amenities-article {
    h4 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .amenities-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* --------------------- */
}

@media screen and (max-width: 1194px) {
  .statistics article {
    flex: 0 1 calc(50% - 10rem);
  }
}

@media screen and (max-width: 457px) {
  .statistics article {
    flex-direction: column;
  }
}
