/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* TYPOGRAPHY */
  --text-heading-1: 5rem; /* 80px */
  --text-heading-2: 3rem; /* 48px */
  --text-heading-3: 2rem; /* 32px */
  --text-heading-4: 1.75rem; /* 28px */

  --text-subheading-1: 2.25rem; /* 36px */
  --text-subheading-2: 1.5rem; /* 24px */

  --text-body-1: 1.25rem; /* 20px */
  --text-body-2: 1rem; /* 16px */

  --text-sustainability: 4rem; /* 64px */

  --text-button: 1.5rem; /* 24px */

  --text-600: 600; /* Semi-Bold */
  --text-400: 400; /* Regular */

  --text-height-large: 2rem; /* 32px */
  --text-spacing: 0.0625rem; /* 1px */

  /* COLORS */
  --color-white: #fff;
  --color-grey: #dbdbdb;
  --color-black: #000;

  --color-primary: #009966;
  --color-secondary: #88dc84;
  --color-accent: #9810fa;

  --color-primary-hightlight: #05ae76;

  --bg-light: #d4fff3;
  --bg-dark: #101828;
  --bg-gradient: linear-gradient(to right, #009966, #009688);

  /* VISUAL EFFECTS */
  --card-shadow: 0px 10px 10px 0px #00000040;

  /* SPACINGS */
  --container-max: 1240px;

  --space-large: 2rem; /* 32px */
  --space-medium: 1rem; /* 16px */
  --space-small: 0.75rem; /* 12px */

  /* BORDER RADIUS */
  --radius-circle: 50%;
  --radius-xl: 1.5625rem; /* 25px */
  --radius-large: 1.5rem; /* 24px */
  --radius-medium: 0.9375rem; /* 15px */
  --radius-small: 0.625rem; /* 10px */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: Inter, sans-serif, "Times New Roman", Times, serif;
}

button {
  cursor: pointer;
}

h1 {
  font-size: var(--text-heading-1);
  font-weight: var(--text-400);
  /* color: var(--color-white); */
  line-height: 100%;
}

h2 {
  font-size: var(--text-heading-2);
  font-weight: var(--text-400);
  line-height: 100%;
}

h3 {
  font-size: var(--text-heading-3);
  font-weight: var(--text-400);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.active-link {
  color: var(--color-primary);
}

.container {
  width: 100%;
  max-width: var(--container-max);
  margin: 0 auto;
}

.btn {
  padding: var(--space-medium) var(--space-small);
  border-radius: var(--radius-small);
  font-size: var(--text-button);
  font-weight: var(--text-600);
  border: 3px solid transparent;
  text-align: center;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 209px;
}

.btn-primary:hover {
  background-color: var(--color-primary-hightlight);
}

.btn-outline {
  border-color: var(--color-white);
  width: 191px;
}

main {
  margin-top: 147.583px;
}

/* HEADER SECTION */
.site-header {
  position: fixed;
  height: auto;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;

  background-color: #ffffffe7;
  backdrop-filter: blur(20px);

  box-shadow: 0px 1px 10px 1px hsla(0, 0%, 0%, 0.25);

  .site-header-content {
    justify-content: space-between;
    align-items: center;

    font-size: var(--text-button);
    font-weight: var(--text-600);
    padding: var(--space-large) var(--space-medium);
  }

  .site-header-brand {
    width: 322px;
  }
}

.desktop-nav {
  justify-content: space-between;
  align-items: center;

  .desktop-nav-list {
    list-style: none;
  }

  .nav-link {
    padding: var(--space-medium) var(--space-large);
  }

  .nav-link > a:hover {
    color: var(--color-primary);
  }
}

/* LANDING PAGE */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/assets/photos/unsplash/beach.jpg);
  background-size: cover;
  background-position: center;
  padding-block: 13rem;
}

.hero-content {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-large);

  text-align: center;
  color: var(--color-white);
}

.hero-subheading {
  font-size: var(--text-subheading-1);
  font-weight: var(--text-400);
}

.hero-buttons {
  justify-content: center;
  align-items: center;
  gap: var(--space-medium);
  font-size: var(--text-button);
}

.availability-section {
  background: var(--bg-gradient);
  padding-block: 4rem;
}

.availability-form {
  justify-content: center;
  align-items: center;
  gap: var(--space-large);
  height: 65px;
  padding-inline: var(--space-large);
  margin: 0 auto;
}

.availability-field {
  display: inline-flex;
  align-items: center;
  padding: var(--space-small);
  height: 100%;
  justify-content: center;
  flex: 0.25;

  border: 1px solid;
  background-color: var(--color-white);
  border-color: var(--color-black);
  white-space: nowrap;
  border-radius: var(--radius-medium);
}

.availability-icon {
  margin-right: auto;
  display: inline-flex;
}

.availability-label {
  margin-right: auto;
}

.availability-submit {
  width: 253px;
  background-color: var(--color-black);
  color: var(--color-white);
  outline: none;
  border: 1px solid transparent;
}

.vision-section {
  padding-block: 5rem;
  text-align: center;
}

.vision-content {
  flex-direction: column;
  justify-content: center;
  gap: calc(1.4 * var(--space-large));
}

.vision-heading {
  letter-spacing: var(--text-spacing);
}

.vision-subheading {
  font-family: montserrat, inter, sans-serif;
  font-size: var(--text-subheading-2);
  font-weight: var(--text-400);
}

.vision-cards {
  padding-block: calc(2 * var(--space-large));
  padding-inline: var(--space-small);
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-medium);
}

.vision-cards > .card {
  flex-direction: column;
  text-align: left;

  border: 1px solid #686868;
  border-radius: var(--radius-large);
  padding: var(--space-medium) 1.4rem;
  gap: var(--space-large);
}

.vision-card-header {
  flex-direction: column;
  gap: 3rem;
}

.card-icon {
  height: 64px;
  width: 64px;
  background-color: var(--color-secondary);
  border-radius: var(--radius-circle);
  justify-content: center;
  align-items: center;
}

.card-icon > svg {
  color: #188734;
}

.vision-card-desc {
  font-size: var(--text-body-1);
  line-height: 24px;
  margin-bottom: var(--space-large);
  opacity: 0.75;
}

/* ABOUT PAGE */
.about-section {
  background-image: url("../assets/assets/photos/unsplash/building.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/assets/photos/unsplash/building.jpg");
  background-position: 50% 50%;
  background-size: cover;
  padding-block: var(--space-section);
  height: 602px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--color-white);
}

.about-heading {
  text-align: center;
  padding-bottom: 2rem;
}

.about-subheading {
  text-align: center;
  font-size: var(--text-subheading-1);
  font-weight: 400;
}

.story,
.story-text,
.p1,
.p2,
.p3 {
  text-align: center;
  color: var(--color-black);
}

.story {
  margin-top: 4rem;
  font-size: 48px;
}

.story-text {
  max-width: 1240px;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.p1,
.p2,
.p3 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  letter-spacing: 1.5px;
  line-height: 32px;
  font-size: 24px;
}

.amenities {
  background-color: #d4fff3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.amenities-buttons {
  max-width: 714px;
  max-height: 79px;
  background-color: #ececf0;
  border-radius: 999px;
  padding: 0.3rem 0.5rem;
  margin: 4rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amenities-buttons .b1,
.amenities-buttons .b2,
.amenities-buttons .b3 {
  width: 230px;
  height: 59px;
  margin: 0 0.2rem;
  background-color: #ececf0;
  border: none;
  border-radius: 999px;

  font-weight: bolder;
}

.amenities-buttons .b3 {
  background-color: var(--color-white);
}

.amenities-buttons h4,
.amenities-buttons p {
  font-weight: 600;
  font-size: 24px;
}

.amenities-article {
  margin-bottom: 4rem;
  text-align: center;
}

.amenities-article h4 {
  font-size: 36px;
  margin-bottom: 1.5rem;
}

.amenities-article p {
  font-size: 24px;
}

.amenities-container {
  max-width: 1240px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.amenities-container article {
  height: 435px;
  width: 400px;
  margin: 1rem;

  background-color: var(--color-white);
  border: 1px solid #000;
  border-radius: 12px;
}

.amenities-container article img {
  max-height: 435px;
  max-width: 400px;
  height: 55%;
  width: 100%;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.amenities-container article h2 {
  font-size: 24px;
  margin: 0.75rem;
  padding-top: 2rem;
}

.amenities-container article p {
  font-size: 21px;
  margin: 0.75rem;
  padding-top: 1rem;
}
